# Config
PORT=3003
URL=""
API_KEY=""

# Documenso
DOCUMENSO_API_URL=""
DOCUMENSO_API_KEY=""

# Lock.crf
LOCK_URL = ""
LOCK_API_KEY = ""
LOCK_GROUP_ID = ""
LOCK_ID = ""

# 1Password
OP_SERVICE_ACCOUNT_TOKEN = ""

# Node
NODE_ENV="development"
DB_PATH=""
MEDIA_PATH=""
CONFIG_FILE=""